# Import

In [1]:
import pandas as pd
from datetime import datetime

In [2]:
threshold_string = "2023-03-06 00:00:00"
date_to_threshold=datetime.strptime(threshold_string, "%Y-%m-%d %H:%M:%S")

# Load Data

In [3]:
#isolate month
def monthStrip(full_datetime):
    return datetime.strptime(datetime.strftime(full_datetime, "%Y-%m"), "%Y-%m")

In [4]:
#create and generate month
practice_data = pd.read_excel("Fruit_Dataset.xlsx")
practice_data['Created_Month'] = [monthStrip(x) for x in practice_data['Created_Date']]

#apply threshold
practice_data = practice_data.loc[practice_data['Created_Date'] < date_to_threshold]
practice_data

   Crop Type Produce Portfolio  Total Cost        Created_Date Created_Month
0      Fruit   Apple        AA         100 2023-01-17 10:41:57    2023-01-01
1      Fruit   Apple        BB          70 2023-01-23 10:41:57    2023-01-01
2  Vegetable   Onion        CC          13 2023-01-14 03:14:57    2023-01-01
3  Vegetable   Onion        CC          57 2023-01-18 00:00:00    2023-01-01
4  Vegetable   Onion        DD         150 2023-01-10 17:45:23    2023-01-01
5      Fruit   Apple        AA         250 2023-02-03 12:10:07    2023-02-01
6      Fruit   Apple        BB          30 2023-02-23 14:30:10    2023-02-01

# Get Last Entry for Each Month

In [5]:
#sort by date
group_data = practice_data.sort_values('Created_Date').copy()

#Group By All But Cost and Created Date
to_group = list(group_data.columns)
to_group.remove('Created_Date')
to_group.remove('Total Cost')

#keep last row after grouping
last_of_months = group_data.groupby(to_group,as_index=False).last()

In [6]:
last_of_months

   Crop Type Produce Portfolio Created_Month  Total Cost        Created_Date
0      Fruit   Apple        AA    2023-01-01         100 2023-01-17 10:41:57
1      Fruit   Apple        AA    2023-02-01         250 2023-02-03 12:10:07
2      Fruit   Apple        BB    2023-01-01          70 2023-01-23 10:41:57
3      Fruit   Apple        BB    2023-02-01          30 2023-02-23 14:30:10
4  Vegetable   Onion        CC    2023-01-01          57 2023-01-18 00:00:00
5  Vegetable   Onion        DD    2023-01-01         150 2023-01-10 17:45:23